body, td, th, tr, p, a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 15px
}
img {
  border-radius: 10px;
  width: 80%;
}

a {
  color: #1772d0;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

papertitle, experiencetitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700
}

name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

itempreview, .one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  opacity: 0;
}

.publication_preview {
  opacity: 0;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}



/*
    Section CSS
*/
.table_section {
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
}

.table_section__left {
  padding: 27px;
  width: 25%;
  vertical-align: middle;
  text-align: center;
}

.table_section__right {
  padding: 20px;
  width: 75%;
  vertical-align: middle;
}


/*
    Publications Section CSS
*/
.publications_section__right {
  width: 100%;
  padding-left: 60px;
}


/*
    CSS Services section
*/
.table_services__left {
  padding: 0px;
  width: 160px;
  vertical-align: middle;
}

/*
    CSS for fancy highlights
*/
.border_gradient {
  box-shadow: 0 15px 40px rgba(0,0,0,.1);
}
