#chatbot{
    width: 20%;
    height: 60vh;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: #f7fbfffc;
    border-radius: 8px;
    margin: 6px;
    padding-top: 15px;    
}

h1#donnaHeader {
    background: #e7efe6;
    padding: 14px;
    padding-left: 23px;
    margin: 0px;
}

#cb-flow {
    padding-bottom: 10px;
}

.cb-bubble.bot {
    border-radius: 8px;
}

.cb-icon {
    background-color: #b3bbb800 !important;
    border: 1px dashed blue;
    margin-bottom: 4px;
}

.cb-human .cb-icon {
    background-position: 2px 2px;
    background-size: 35px;
}

.answer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 24%;
    margin: 14px;
}


/* Styles for mobile devices */
@media (max-width: 600px) {
    #chatbot {
        height: 50%;
        width: 95%;
    }

    #cb-flow>.cb-inner {
        padding-top: 2px;
    }

}