#chatbot{
    width: 20%;
    height: 50%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: grey;
    border-radius: 8px;
    margin: 6px;
}

.answer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 24%;
    margin: 14px;
}